body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: inline-block;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    margin-left:5%;

    background-color: #0000003a;
}

h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #222;
    color: white;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: orange;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkorange;
}