html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom right, #ffffff, #aa8040 80%);
}

.table td .btn {
    width: 100%;
    font-size: 0.875rem; 
    padding: 0.4rem 0.75rem;
}
.table-responsive {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
